.btn-orange {
    color: var(--bg-white);
    background-color: var(--bg-orenge);
    outline: none;
    box-sizing: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;

}
.btn-orange :hover {
    color: var(--bg-white);
    background-color: var(--bg-orenge-hover);
}

.btn-orange-outline {
    color: var(--bg-orenge);
    background-color: transparent;
    outline: 2px solid var(--bg-orenge);
    box-sizing: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.btn-orange-outline {
    color: var(--bg-white);
    background-color: var(--bg-orenge);
    border-radius: 0px;
    outline: none;
}